*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}
header{
    width: 100%;
    height: 60px;
    padding: 0 2%;
}
.nav{
    height: 100%;
    width: 100%;
    display: flex;
}

#nav-d1 a{
    height: 60px;
    display: flex;
    align-items: center;
}
.nav-d img{
    height: 25px;
    width: 25px;
}
#nav-d1 h1{
    font-size: 18px;
    color: red;
    font-weight: 600; 
    margin-left: 10px;
}

.nav-d a{
    text-decoration: none;
    color: black;
    padding: 16px 10px;
}

.nav-d a:hover{
    background-color: rgb(232, 255, 255);
}
#nav-d1 a:hover{
    background-color: white;
}
.nav-d h2{
    height: 60px;
    font-size: 15px;
    font-weight: 200;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
#nav-d6{
    margin-left: 520px;
}
#nav-d6 h2{
    padding: 0;
}
#nav-d6 a{
    transform: rotateY(180deg);
    font-size: 20px;
    font-weight: 100;
    padding: 10px 5px;
}
#nav-d6 a:hover{
    color: blue;
    background-color: white;
}
#nav-d7 h2{
    padding: 0 10px;
}
#nav-d7 h2 a:hover{
    color: blue;
    background-color: white;
}
/* -------Section 1 Start------ */
.section1{
    width: 100%;
    height: 650px;    
}
#section1{
        background-image: linear-gradient(to right, red ,yellow);
}
#s1-div{
    width: 95%;
    height: 100%;
    margin-left: 2.5%;
    display: flex;
    align-items: center;
}
#s1-d1{
    width: 620px;
    height: 230px;
    margin-left: 60px;
}
#s1-d1-ch1{
    width: 100%;
    height: 50px;
}
#s1-d1-ch1 h1{
    font-size: 40px;
    line-height: 50px;
    /* height: 95px; */
}
#s1-d1-ch2{
    width: 100%;
    height: 80px;
    margin-top: 25px;
}
#s1-d1-ch2 p{
    width: 95%;
    font-size: 18px;
    line-height: 20px;
}
.s1-d1-ch3{
    width: 100%;
    height: 30px;
    margin-top: 20px;
    display: flex;
}
.button{
    text-decoration: none;
    color: white;
    background-color: blueviolet;
    padding: 2px 10px;
    border-radius: 15px;
}

.s1-d1-ch3btn{
 margin-left: 20px;
 display: flex;
 align-items: center;
}
.s1-d1-ch3btn a{
    text-decoration: none;
    color: black;
}
.s1-d1-ch3btn a:hover{
    text-decoration-line: underline;
}

/* ------- Section two is Start ------- */
.section2{
    width: 100%;
    height: 120px;
}
#s2-div{
    width: 100%;
    height: 100px;
    /* border: 1px solid; */
    padding: 20px 0px;
}
#s2-d1{
    width: 90%;
    height: 60px;
    /* border: 1px solid; */
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#s2-d1-ch1 h3{
    line-height: 27px;
    font-size: 16px;
}
.s2-d1-ch{
    padding: 10px 10px;
}
.s2-d1-ch a{
    text-decoration: none;
    padding: 0px 10px;
    color: black;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 20px;
}
.s2-d1-ch a:hover{
    color: white;
    background-color: rgb(61, 0, 0);
}
/* ----------- Section two is end ----------- */
/* ----------- Section three is strat ----------- */
.section3{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
}
.s3-div{
    height: 500px;
    width: 32%;
    display: flex;
    justify-content: center;
}
.s3-div-ch{
    width: 95%;
    height: 100%;
    cursor: pointer;
}
#s3-div-ch1{
    background-image: url(/images/PS-campaign-homepage-single-desktop_v6.jpeg);
}
.img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#s3-div-ch2{
    background-image: url(/images/AX-2022-single-desktop-v2.jpeg);
}
#s3-div-ch3{
    background-color: #9797fc;
    display: flex;
    justify-content: center;
}
.s3-div-ch{
    padding: 30px 25px;
}
.s3-d-ch1-ch1{
    width: 100%;
    height: 110px;
}
.s3-d1-ch1-ch1-ch1{
    width: 100%;
    height: 30px;
}
.s3-d1-ch1-ch1-ch1 h2{
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
}
.s3-d1-ch1-ch1-ch2{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}
.s3-d1-ch1-ch1-ch2 p{
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
}
.s3-d1-ch1-ch1-ch3{
    width: 100%;
    height: 20px;
}

.s3-d1-ch1-ch1-ch3 a{
    text-decoration: none;
    color: black;
}
.s3-d1-ch1-ch1-ch3 a:hover{
    text-decoration-line: underline;
}
.s3-d1-ch1-ch1-ch3 h3{
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
}


.s3-d-ch3-ch{
    height: 470px;
    width: 95%;
}
#s3-d-ch3-ch1-ch1{
    width: 100%;
    height: 140px;
    /* border: 1px solid; */
}
.s3-d-ch3-ch1-ch2{
    width: 100%;
    height: 330px;
    /* border: 1px solid; */
}
.s3-d-ch3-ch1-ch1-ch{
    height: 40px;
    border-bottom: 1px solid black;
}
.s3-d-ch3-ch1-ch1-ch h2{
    font-size: 18px;
    font-weight: 600;
}
.s3-d-ch3-ch1-ch1-ch2{
    height: 40px;
    
}
.s3-d-ch3-ch1-ch1-ch2 h3{
    font-size: 14px;
    font-weight: lighter;
}
.s3-d-ch3-ch1-ch2-ch2{
    margin-top: 10px;
}
#s4-div1{
    width: 63%;
    height: 500px;
}
#s4-div2{
    width: 31%;
    height: 500px;
}
.s4-d{
    width: 98%;
    height: 100%;  
    border: 1px solid;
    border: none;
    padding: 30px 25px;
}
#s4-d1-ch{
    margin-right: 0%;
    background-image: url(/images/Premiere-Pro-double-desktop.jpeg);
}
#s4-d2-ch{
    margin-left: 3%;
    background-image: linear-gradient(to top, red, rgb(255, 177, 177));
}
#s4-div2 img{
    margin-top: 100px;
}
/* --------- Section Five Start ------------- */
.s5-div1{
    width: 55%;
    height: 95%;
}
#section5{
    display: flex;
}
#s5-d1{
    background-image: url(/images/acrobats-got-it-2023-triple-tablet.jpeg);
}
.s5-div2{
    width: 45%;
    height: 95%;
}
#s5-d2{
    background-color: #fb0000;
}
.s5-d2-ch1{
    width: 550px;
    height: 250px;
    padding: 0px 5%;
    margin: 200px 50px;
}
.s5-d2-ch1-ch{
    height: 100%;
    width: 100%;
    color: white;
}
.s5-d2-ch1-ch-ch{
    display: flex;
    margin-top: 15px;
}
.s5-d2-ch1-ch-ch1{
    height: 40px;
}
.s5-d2-ch1-ch-ch1 img{
    height: 40px;
    width: 40px;
    border-radius: 5px;
}
.s5-d2-ch1-ch-ch1 h2{
    margin-left: 10px;
    font-size: 25px
}
.s5-d2-ch1-ch-ch2{
    height: 50px;
}
.s5-d2-ch1-ch-ch2 h1{
    font-size: 30px
}
.s5-d2-ch1-ch-ch3{
    height: 60px;
}
.s5-d2-ch1-ch-ch3 p{
    font-size: 20px;
    line-height: 22px;
}
.s5-d2-ch1-ch-ch4{
    height: 30px;
}
.s5-d2-ch1-ch-ch4 .s1-d1-ch3btn a{
    color: white;
}
.s6-div2{
    color: white;
}
.a-white a{
    color: white;
}
#s6-div-ch1{
    background-image: linear-gradient(to bottom, rgb(255, 144, 144),red);
}
#s6-div-ch2{
    background-color: red;
}
#s6-div-ch3{
    color: white;
    background-color: rgb(39, 11, 51);
}
#s6-div-ch3 a{
    color: white;
}
.b-b-white{
    border-bottom: 1px solid white;
}
.s6-d-ch-h{
    height: 50px;
}
.s6-d-ch-h h2{
    font-size: 18px;
    font-weight: 500;
}
.s3-d-ch1-ch1 img{
    margin-top: 50px;
}
#section7{
    border: 1px solid transparent;
    background-image: url(/images/Summit-2023-triple-desktop.jpeg);
}
.s7-btn{
    border: 1px solid white;
    background: transparent;
    transition: 0.5s;
}
.s7-btn:hover{
    background-color: white;
    color: black;
}

.s7-div{
    width: 440px;
    height: 300px;
    margin: 170px 80px;
}
.s7-d1{
    width: 440px;
    height: 300px;
}
.s7-d1-ch1 h1{
    color: white;
    font-size: 40px;
    line-height: 40px;
    margin-top: 25px;
}
.s7-d1-h h1{
    color: white;
    font-size: 20px;
}
.s7-d1-ch2{
    color: white;
    margin-top: 20px;
}
/* --------- Section Eight Start --------- */
#section8{
    margin-top: 50px;
}
#s8-div-ch1{
    background-image: url(/images/EML-homepage-single-desktop-1_v2.jpeg);
}
#s8-div-ch2{
    background-image: url(/images/digital-trends-report-2023-single-desktop.jpeg);
}
#s8-div-ch3{
    background-color: #89bbc2;
}
/* ---------- Footer start --------- */
footer{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    background-color: #eefcfe;;
}
.footer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.foot-ch{
    width: 95%;
    height: 100%;
    padding: 2%;
}
#foot1{
    width: 100%;
    height: 80%;
    display: flex;
}
.foot1-ch1{
    height: 100%;
    width: 18%;
}
.foot1-ch2{
    width: 23%;
}
.foot1-ch1 li{
    list-style: none;
    height: 25px;
}
.foot1-ch1 li a{
    text-decoration: none;
    color: black;
}
.foot1-ch1 ul div{
    height: 30px;
    font-size: 14px;
    font-weight: bold;
}
.foot1-ch1 li a:hover{
    color: #89bbc2;
}
.foot1-ch1 li a span{
    height: 20px;
    font-size: 13px;
    font-weight: 100;
}
#foot2{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
}
.foot2-ch{
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot2-ch{
    height: 40px;
    width: 100%;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.foot2-ch-ch img{
    width: 25px;
    height: 25px;
    border-radius: 5px;
    margin-right: 5px;
}
.foot2-ch-ch h2{
    font-size: 15px;
}
.foot2-ch-ch{
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot2-ch-ch a{
    text-decoration: none;
    font-size: 13px;
    color: black;
}
.foot2-ch-ch a:hover{
    color: #89bbc2;
}
#foot3 i{
    color: #64aeb8;
    font-size: 25px;
    margin: 0 10px;
}
#foot3{
    height: 10%;
    display: flex;
    align-items: center;
}
.foot3-ch2{
    margin-left: 400px;
}
.foot3-ch3 ul{
    display: flex;
    margin-left: 20px;
}
.foot3-ch3 ul li{
    list-style: none;
    margin-left: 20px;
}
.foot3-ch3 ul li a{
    text-decoration: none;
    font-size: 13px;
    color: black;
}
.foot3-ch3 ul li a:hover{
    color: #64aeb8;
}
